body{
    background-color: grey;
    padding: 20px;
    margin: 20px;;
}
h1{
    font-size:50px;
    text-align: center;
}
.dice{
    width:220px;
    height:160px;
    background-color: aliceblue;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    font-size:  2rem;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 0 0 20px;
}
.dice:hover{
    width:220px;
    height:160px;
}
#second{
    position: relative;
    top:100px;

}
.btn{
    border:1px solid black;
    padding:5px;
    font-weight: bold;
    font-size:3rem;
}
.btn:hover{
    cursor: pointer;
    border: 2px solid black;
}
#p1btn{
    background-color: aquamarine;
    box-shadow: 0 0 3px black;
    color:black;
    position:relative;
    bottom:150px;
    left:20px;
}
#p2btn{
    background-color: aquamarine;
    box-shadow: 0 0 3px black;
    color:black;
    position:relative;
    bottom:150px;
    left:290px;
}
#buttondiv button{
    margin:30px;
}
#p1scoreboard{
    width:400px;
    height: 65px;
    display: flex;
    background-color: aqua;
    color:black;
    justify-content: center;
    align-items: center;
    font-size:3rem;
    position:relative;
    left:200px;
}
#p2scoreboard{
    width:350px;
    height: 70px;
    display: flex;
    background-color: aqua;
    color:black;
    justify-content: center;
    align-items: center;
    font-size:3rem;
    position:relative;
    left:1200px;
    bottom: 68px;
}
#randomnumberP1{
    position: relative;
    display: flex;
    text-decoration: none;
    align-self: center;
    right:30px;
    font-size: 60px;
}
#randomnumberP2{
    position: relative;
    display: flex;
    text-decoration: none;
    align-self: center;
    right:30px;
    font-size: 60px;
}
#display{
    color: black;
    text-transform: uppercase;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left:500px;
}
p{
    font-size: 3rem;
}